<div class="footer">
    <p>Josefine Dröscher Møllegaard
        <br> Multiemediedesign KEA 3 semester</p>
</div>
<script src="http://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script src="{{ .Site.BaseURL}}/nivo/dist/nivo-lightbox.min.js"></script>
<script src="{{ .Site.BaseURL}}/scrollreveal/dist/scrollreveal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.3/TweenMax.min.js"></script>
<script src="{{ .Site.BaseURL}}/js/script.js"></script>
</body>

</html>